:root{
  --my-font:"Montserrat", sans-serif;
}

*{
  font-family: var(--my-font);
}

.w-app{
  box-shadow: 0 0 20px 3px rgb(179, 177, 177);
  border-radius: 15px;
  padding: 1rem;
}

.heading{
  text-transform: capitalize;
}

.search-bar{
  border-radius: 10px;
  border: none;
  background-color: white;
  outline: none;
  color: black;
  box-shadow: 3px 6px 10px rgb(179, 177, 177);
  padding: 1rem;
  font-weight: 600;
}

.search-bar::placeholder{
  color: black;
  text-transform: capitalize;
  font-weight: 600;
}